<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <%= image_tag topic.image.url %>
            　<% if !topic.favorite_users.include?(current_user) %>
            　　<%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                  <%=image_tag 'icons/heart-regular.png',class: 'topic-index-icon' %>
            　<% end %>
            　<% else %>
            　　<%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
                  <%=image_tag'icons/heart-solid.png',class: 'topic-index-icon' %> 
            　　<% end %>
            <% end %>
            <%= topic.favorite_users.count %>
            
            
            <%= link_to comments_new_path(topic_id: topic.id) do %>
             <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
             <%= topic.comments.count %>　
            <% end %>
            <p class="topic-text">
              <%= topic.description %>
            </p>
            
            <p>コメント</p> <%#分からなかった%>
            
            <% topic.comments.each do |comment| %>
             <p class="topic-text">
               <%= comment.description %>
            </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>